<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Player</title>
</head>
<style>
/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #282c34;
    color: #61dafb;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

#harmonySelect {
    margin-bottom: 20px;
}

#noteButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #61dafb;
    color: #282c34;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

button.active {
    background-color: #282c34;
    color: #61dafb;
}

button:hover {
    background-color: #4fa3d1;
}

#playButton,
#stopButton {
    background-color: #61dafb;
    color: #282c34;
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#stopButton {
    background-color: #e74c3c;
}

#playButton:hover,
#stopButton:hover {
    background-color: #4fa3d1;
}

/* Add this to your styles.css file */
button.active {
    background-color: #282c34;
    color: red;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}
</style>
<body>
    <h1>Major Harmony Player</h1>
    <p>
    A major triad is a three-note chord consisting of a root note, a major third interval above the root, and a perfect fifth interval above the root.
    </p>
    <p>
    In simpler terms, if you start with a note (let's say C), you would add the note four semitones above it (E) and then add the note seven semitones above the original note (G). Put them together, and you have a C major triad (C-E-G). The combination of these intervals gives the triad a "major" sound, which is often described as bright or happy. It's a fundamental building block in Western music harmony.
    </p>
<div data-controller ="majortriad">
    <!-- Dropdown for selecting harmonies -->
    <label for="harmonySelect">Select Harmony:</label>
    <select id="harmonySelect">
        <option value="0">C Major</option>
        <option value="1">F Major</option>
        <option value="2">G Major</option>
        <option value="3">A Major</option>
      <option value="4">D Major</option>
        <option value="5">E Major</option>
        <option value="6">B Major</option>
        <option value="7">Db Major</option>
      <option value="8">Eb Major</option>
        <option value="9">Ab Major</option>
        <option value="10">Bb Major</option>
    </select>

    <!-- Buttons for notes -->
    <div id="noteButtons">
        <!-- Note buttons will be dynamically added here -->
    </div>

    <button id="playButton">Play Harmony</button>
    <button id="stopButton">Stop</button>
  </div>
</body>
</html>
