<head>
  <title>Typing Animation</title>
  <link rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
 <div data-controller="limiter">
     <h1>Tone.js Audio Player</h1>
     <div class="conter">
      <h1 id="text"></h1>
      <div class="button-container">
        <button id="back-btn">Back</button>
        <button id="next-btn">Next</button>
      </div>
      <div id="textt-box">
        <p id="textt"></p>
      </div>
      <button id="start-btn">Start</button>
<button id="stop-btn">Stop</button>
<div>
  <label for="limiter-slider">Limiter Threshold:</label>
  <input type="range" id="limiter-slider" min="-100" max="0" step="0.1" value="-24">
</div>
</body>
