<head>
  <title>Typing Animation</title>
  <link rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
 <div data-controller="vols">
    <div class="conter">
      <h1 id="text"></h1>
      <div class="button-container">
        <button id="back-btn">Back</button>
        <button id="next-btn">Next</button>
      </div>
      <div id="textt-box">
        <p id="textt"></p>
      </div>
      <div id="player-container">
        <button id="start-btn">&#9658;</button>
        <button id="stop-btn">&#9724;</button>
        <input type="range" id="volume-slider" min="0" max="100" value="50">
</div>
      </div>
    </div>
  </div>
</body>
