<head>
<title>Typing Animation</title>
<link rel="stylesheet">
</head>
<body>
<style>
.release-slider {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #ddd;
  -webkit-appearance: none;
  appearance: none;
}

.release-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #4CAF50;
  cursor: pointer;
}

.release-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #4CAF50;
  cursor: pointer;
}

/* Style for the buttons */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}
/* Style for the container holding sliders and buttons */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 70vh;
}
</style>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
<div data-controller="compressor">
   <h1>Tone.js Audio Player</h1>
   <div class="conter">
    <h1 id="text"></h1>
    <div class="button-container">
      <button id="back-btn">Back</button>
      <button id="next-btn">Next</button>
    </div>
    <div id="textt-box">
      <p id="textt"></p>
    </div>
 <div class="container">
    <div>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
  </div>
  <div>
    <label for="attack-slider">Attack:</label>
    <input type="range" min="0" max="1" step="0.01" value="0.1" id="attack-slider">
  </div>
  <div>
    <label for="release-slider">Release:</label>
    <input type="range" min="0" max="1" step="0.01" value="0.5" id="release-slider">
  </div>
</div>
</div>
</body>
