<html>
<head>
  <title>Audio Player</title>
  <!-- Include Tone.js library -->
  <script src="https://unpkg.com/tone"></script>
</head>
<body>
<div data-controller="vibrato">
  <h1>Tone.js Audio Player</h1>
   <div class="conter">
    <h1 id="text"></h1>
    <div class="button-container">
      <button id="back-btn">Back</button>
      <button id="next-btn">Next</button>
    </div>
    <div id="textt-box">
      <p id="textt"></p>
    </div>
<div class="button-pos">
  <button class="delay-button" id="start-btn">Start</button>
  <button class="delay-button" id="stop-btn">Stop</button>
  <button class="delay-button" id="vibrato-btn">Vibrato On</button>
</div>
</div>
</body>
</html>
