<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
  <title>Audio Player</title>
  <!-- Include Tone.js library -->
  <script src="https://unpkg.com/tone"></script>
</head>
<body>
<div data-controller="vibrato">
  <h1></h1>
   <div class="conter">
    <h1 id="text"></h1>
    <div class="button-container">
      <button id="back-btn">Back</button>
      <button id="next-btn">Next</button>
    </div>
    <div id="textt-box">
      <p id="textt"></p>
    </div>
<div class="button-pos">
  <button class="delay-button" id="start-btn">Start</button>
  <button class="delay-button" id="stop-btn">Stop</button>
  <button class="delay-button" id="vibrato-btn">Vibrato On</button>
</div>
</div>
</body>
</html>
