<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
  <title>Your App</title>
  <style>
    /* Navbar Styles */

    nav {
      width: 100%;
      z-index: 1;
    }


    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 10px 0;
      text-color: black;
    }

    nav ul li {
      margin: 0 15px;
      transition: transform 0.3s; /* Add transition for smooth animation */
    }

    nav ul li:hover {
      transform: scale(1.1); /* Apply scale transformation on hover */
    }

    nav ul li a {
      text-decoration: none;
      color: black;
      transition: color 0.3s; /* Add transition for color change */
    }

    nav ul li:hover a {
      color: #ffd700 ; /* Change color on hover */
    }


  </style>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to "Home", homes_path %></li>
    <li><%= link_to "About", abouts_path %></li>
    <li><%= link_to "Contact", contacts_path %></li>
  </ul>
</nav>

</body>
</html>
