<head>
  <title>Typing Animation</title>
  <link rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
 <div data-controller="card">
    <div class="conter">
      <h1 id="text"></h1>
      <div class="button-container">
        <button id="back-btn">Back</button>
        <button id="next-btn">Next</button>
      </div>
      <div id="textt-box">
        <p id="textt"></p>
      </div>
      <div id="player-container">
        <button id="start">&#9658;</button>
        <button id="stop">&#9724;</button>
        <input type="range" id="distortion" min="0" max="100" step="1" value="0">
      </div>
    </div>
  </div>
</body>
