<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><span data-controller="typed-js"></span></p>

<head>
  <title>Typing Animation</title>
  <link rel="stylesheet">
</head>
<body>
<div data-controller="distortion">
  <h1 id="text"></h1>
  <div class="button-container">
    <button id="back-btn">Back</button>
    <button id="next-btn">Next</button>
  </div>
 </div>
</body>
