<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
<title>Typing Animation</title>
<link rel="stylesheet">
</head>
<style>
</style>
<body>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
<div data-controller="jcverb">
   <h1>Tone.js Audio Player</h1>
   <div class="conter">
    <h1 id="text"></h1>
    <div class="button-container">
      <button id="back-btn">Back</button>
      <button id="next-btn">Next</button>
    </div>
    <div id="textt-box">
      <p id="textt"></p>
    </div>
    <div class="button-pos">
    <button class="delay-button" id="startButton">Start</button>
    <button class="delay-button" id="stopButton">Stop</button>
    <button class="delay-button" id="reverbButton">Toggle Reverb</button>
    </div>
</div>
</body>
