<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
</head>
<style>
        body {
            background-color: #1a1a1a;
            color: #ffffff;
            padding: 20px;
        }

        h1, h2 {
            font-family: 'Courier New', monospace;
        }

        h1 {
            font-size: 24px;
            color: black;
            margin-bottom: 10px;
        }
        .throw {
            margin-top: 100px; /* Adjust the top margin as needed */
            margin-left: 20px;
            margin-right: 20px;
        }

</style>

<body>
 <h1> EMAIL: hello@the-sound-academy.com    </h1>
</body>
