<html>
  <head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
    <meta charset="UTF-8">
    <title>Keyboard with Tone.js</title>
    <script src="https://unpkg.com/tone"></script>
    <link rel="stylesheet">
  </head>
  <body>
  <style>
  /* CSS for the keyboard element */
  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
  }

  /* CSS for the keyboard buttons */
  #keyboard button {
    width: 50px;
    height: 100px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transition: all 0.1s ease;
    font-family: 'Courier New', Courier, monospace;
  }

  /* CSS for the pressed keyboard buttons */
  #keyboard button:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
  }
</style>
<div class="conter">
<h1 id="text"></h1>
<div class="button-container">
  <button id="back-btn">Back</button>
  <button id="next-btn">Next</button>
</div>
<div id="textt-box">
  <p id="textt"></p>
</div>
  <div data-controller="synth">
  <div id="synth-container">
    <div id="keyboard"></div>
    <div id="synth-select">
      <label for="synth"></label>
      <select id="synth">
        <option value="synth">Default Synth</option>
        <option value="amsynth">AM Synth</option>
        <option value="fmsynth">FM Synth</option>
        <option value="membranesynth">Membrane Synth</option>
      </select>
      </div>
    </div>
    </div>
  </body>
</html>
