    <head>
  <title>Typing Animation</title>
  <link rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.umd.js"></script>
 <div data-controller="freeverber">
     <h1>Tone.js Audio Player</h1>
     <div class="conter">
      <h1 id="text"></h1>
      <div class="button-container">
        <button id="back-btn">Back</button>
        <button id="next-btn">Next</button>
      </div>
      <div id="textt-box">
        <p id="textt"></p>
      </div>
      <div class="button-pos">
      <button class="delay-button" id="start-btn">Start</button>
      <button class="delay-button"  id="stop-btn">Stop</button>
      <button class="delay-button"  id="delay-btn">Toggle Delay</button>
      </div>
</div>
</body>
