<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #1a1a1a;
            color: #ffffff;
            padding: 20px;
        }

        h1, h2 {
            font-family: 'Courier New', monospace;
        }

        h1 {
            font-size: 24px;
            color: black;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 18px;
            color: black;
            margin-top: 30px;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em; /* Adjust as needed */
            border-right: .15em solid orange; /* The typewriter cursor */
            animation: typing 3.5s steps(40, end) 2s forwards; /* Adjust the duration and delay as needed */
        }

        .throw {
            margin-top: 100px; /* Adjust the top margin as needed */
            margin-left: 20px;
            margin-right: 20px;
        }
        .pidge {
          margin-top: 30px; /* Adjust the top margin as needed */
      }

        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
    </style>
    <title>Sound Academy</title>
</head>

<body>
    <div class="throw">
        <h1>Sound Academy was established with a simple goal: to teach fundamental skills in music and music production in a fun, engaging, and interactive manner.</h1>

        <h1>Our objective is for you to enjoy and actively participate in the lessons and activities. This way, you can apply what you learn—whether it's crafting melodies or adding reverb—and evolve into a well-rounded musician.</h1>

        <h2 class="pidge" >Michael Barnard, Founder</h2>
    </div>
</body>

</html>
