<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blues Grid Music</title>
  <link rel="stylesheet" href="styles.css">
</head>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #61dafb;
  }

  #grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin-top: 20px;
  }

  .grid-item {
    width: 40px;
    height: 40px;
    border: 1px solid #61dafb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .grid-item.active {
    background-color: #bada55 !important;
  }

  /* Different colors for notes */
  .note-C {
    background-color: #FFD700;
  }

  .note-D {
    background-color: #FFA500;
  }

  .note-E {
    background-color: #FF6347;
  }

  .note-F {
    background-color: #8A2BE2;
  }

  .note-G {
    background-color: #00CED1;
  }

  .note-A {
    background-color: #3CB371;
  }

  .note-B {
    background-color: #9370DB;
  }

  .note-C2 {
    background-color: #FFD700;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  button:hover {
    background-color: #282c34;
    color: #61dafb;
  }

  label {
    margin-top: 20px;
    font-size: 16px;
  }

  input {
    margin-top: 10px;
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #61dafb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
  }

  input:hover {
    opacity: 1;
  }

  span {
    margin-left: 5px;
    font-size: 14px;
  }

  #scale-selector {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    background-color: #282c34;
    color: #61dafb;
    outline: none;
  }

  #scale-selector:hover {
    border-color: #282c34;
    background-color: #61dafb;
    color: #282c34;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
</style>

<body>

  <h2>Blues Scale</h2>
  <p>The traditional blues scale is a hexatonic scale, meaning it consists of six notes. It is often formed by adding a diminished fifth (or augmented fourth), commonly known as the "blue note," to the pentatonic scale. The basic structure of the blues scale can be represented as follows:
</p>
<p>
  Root (R): The fundamental note around which the scale is built.
  </p>
  <p>
  Minor Third (b3): A lowered third degree relative to the major scale, contributing to the minor quality.
  </p>
  <p>
  Fourth (4): The regular fourth degree.
  </p>
  <p>
  Diminished Fifth/Blue Note (#4/b5): The distinctive "blue note" that gives the scale its characteristic sound. It falls between the perfect fourth and perfect fifth, contributing to the bluesy, expressive feel.
  </p>
  <p>
  Fifth (5): The regular fifth degree.
  </p>
  <p>
  Minor Seventh (b7): A lowered seventh degree, emphasizing the dominant seventh chord and adding a bluesy flavor.</p>
  <div data-controller="majorblues">

    <section id="instructions">
      <select id="scale-selector">
        <option value="C">C Blues </option>
        <option value="D">D Blues </option>
        <option value="E">E Blues </option>
        <option value="F">F Blues </option>
        <option value="G">G Blues </option>
        <option value="A">A Blues </option>
        <option value="B">B Blues </option>
      </select>
    </section>

    <div id="grid-container"></div>
    <button id="play-btn">Play</button>
    <button id="stop-btn">Stop</button>
    <label for="bpm-slider">BPM:</label>
    <input type="range" id="bpm-slider" min="60" max="200" value="120">
    <span id="bpm-value">120 BPM</span>
  </div>
</body>

</html>
