.reverb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
}

.reverb-slider-container {
  width: 100%;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.reverb-slider-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.reverb-slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.reverb-slider-container input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.reverb-slider-container input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.first {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 60px;
  color: black;
  background-color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.second {
  padding: 50px;
   max-width: 50%;
   background: white;
   text-decoration: underline;
   text-decoration-color: white;
   color: #222;
}

.third {
  border-style: solid;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 4rem;
  letter-spacing: 0.04rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border-radius: .4rem;
  background: white;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background: white;
  text-decoration: underline;
  text-decoration-color: white;


  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: ease-in;
    mix-blend-mode: difference;
    //Gradient start values are somewhat arbitrary. But this seemed a good fit to avoid overly-blurry circle edge.
    background: white;
    border: black;
    border-style: solid;
    text-decoration: underline;
    text-decoration-color: white;
    color: #222;
  }

  box-shadow: black;
  &:active {
    top: 5px;
    box-shadow: none;
    border: #222;
    border-style: solid;
    text-decoration: underline;
    text-decoration-color: white;
  }
}
