<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
</head>

<style>
#chorusSlider {
  width: 80%;
  margin: 0 10px;
  height: 2px;
  background-color: black;
  -webkit-appearance: none;
  appearance: none;
}
#chorusSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
#chorusSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  transition: background-color linear 1s;
}

:root {
  --bg-color: #fff;
}
</style>
<div data-controller="choru">
   <div class="conter">
    <h1 id="text"></h1>
    <div class="button-container">
      <button id="back-btn">Back</button>
      <button id="next-btn">Next</button>
    </div>
    <div id="textt-box">
      <p id="textt"></p>
    </div>
    <div id="player-container">
  <button id="startButton">&#9658;</button>
  <button id="stopButton">&#9724;</button>
  <label for="chorusSlider"></label>
  <input type="range" id="chorusSlider" min="0" max="1" step="0.01" value="0.5">
</div>
</div>
