<html>
  <head>
    <meta charset="UTF-8">
    <title>Audio Player</title>
     <script src="https://unpkg.com/tone"></script>
  </head>
  <body>
  <div data-controller="freeverb">
  <div class="conter">
  <h1 id="text"></h1>
  <div class="button-container">
    <button id="back-btn">Back</button>
    <button id="next-btn">Next</button>
  </div>
  <div id="textt-box">
    <p id="textt"></p>
  </div>
    <h1>Audio Player</h1>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <button id="toggle-effect">Toggle Freeverb Effect</button>
  </div>
  </body>
</html>
